/* Document styles */
html {
  --color-dark: hsl(0, 0%, 50%);
  --color-darker: hsl(0, 0%, 30%);
  --color-light: hsl(0, 0%, 93%);
  --color-lighter: hsl(0, 0%, 98%);
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-red: hsl(4, 100%, 70%);

  background: var(--color-light);
  color: var(--color-darker);
  font: 16px sans-serif;
}
body {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
}
.main {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

/* Component styles */
.button {
  align-self: stretch;
  padding: 1em;
  border: none;
  border-bottom: 2px solid var(--color-shadow);
  background: var(--color-lighter);
  color: var(--color-darker);
}
.button:hover {
  background: var(--color-dark);
  color: var(--color-lighter);
  cursor: pointer;
}
.button--dark {
  background: var(--color-darker);
  color: var(--color-lighter);
}
.button--record:hover {
  background: var(--color-red);
  color: var(--color-lighter);
}
.recordings-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  list-style: none;
}

/* Color utilities */
.bg-lighter {
  background: var(--color-lighter);
}

/* Flex utilities */
.d-flex {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}

/* Box utilities */
.p-1 {
  padding: 1em;
}
